.name {
    width: 400px;
    height: 25px;
    box-sizing: border-box;
    
}

.box { 
    height: 200px;
    width: 200px;
    float: right;
    padding: 25px;
    margin: 20px;
    }
     .connect { 
        width: 50px;
        float: right;
        padding: 25px;
        background-color: blue
         }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
    }        
    .links{
            float:left;
    } 
    .title{
            margin-left:150px;
            float:right;
            background-color: #4aaaa5;
    }
    footer{
             height: 100px;
             width:100%;
             color: #666666;
             border: #4aaaa5;
             background-color: whitesmoke;
             position: absolute; 
             margin-top: 2px;
            bottom: 0%;
            
            
    }
    .view{
            margin-left:150px;
            width: 960px;
    }
    .nav{
            border-bottom: 5px solid green;
            
    }